/*
 * Adds a black box around each image, one pixel thick.
 */

img {
  border:1px solid #021a40;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

aside {
  display: block;
  padding-top:20px;
  background-color:#fff5dd;
  margin-top:4px;
  margin-left:4px;
  box-shadow:0px 0px 4px 4px #a9a9a9;
}

