<p style="text-align: right;">
<a href="https://github.com/dart-lang/observatory">Edit these docs</a>
</p>

<h1>Observatory Docs</h1>

<ul>
<li class="toc-list"><a href="index.html">Observatory Home</a></li>
<li class="toc-list"><a href="get-started.html">Getting Started with Observatory</a></li>
<li class="toc-list"><a href="allocation-profile.html">Allocation Profile</a></li>
<li class="toc-list"><a href="code-coverage.html">Code Coverage</a></li>
<li class="toc-list"><a href="cpu-profile.html">CPU Profile</a></li>
<li class="toc-list"><a href="debugger.html">Debugger</a></li>
<li class="toc-list"><a href="evaluate.html">Evaluating Expressions</a></li>
<li class="toc-list"><a href="heap-map.html">Heap Map</a></li>
<li class="toc-list"><a href="isolate.html">Isolate</a></li>
<li class="toc-list"><a href="metrics.html">Metrics</a></li>
<li class="toc-list"><a href="tags.html">User and VM Tags</a></li>
<li class="toc-list"><a href="glossary.html">Glossary of VM Terms</a></li>
<li class="toc-list"><a href="screens.html">Screens in Observatory</a></li>
</ul>

<hr>
